
<td style="background: none repeat scroll 0% 0% rgb(255, 255, 255)">

	<h4 style="color: #229AD0"><%=this.model.get('name')%></h4>
	<p>
		<strong> <% if(this.model.get('city') != "null"){%>
				<%=this.model.get('city') %>    
				
			<%}%>
			 <% if(this.model.get('zip') != "null"){%>
				<%=this.model.get('zip') %>    
				
			<%}%> 
			</strong> <%=this.getStatus()%>
	</p>
	<div class="col-md-2 pull-right">
          <div class="icons-container">
	    <a title="Delete" data-placement="top"  data-id="<%=this.model.get('id')%>" data-toggle="tooltip" class="icons delete-branch"><i class="fa fa-times"></i></a>
		<a title="Edit" data-placement="top" data-id="<%=this.model.get('id')%>"  data-toggle="tooltip" class="icons  edit-token"><i class="fa fa-edit"></i></a>
		 	<%if(this.model.get('isactivated') == "1"){%> 
		 	 <a title="Deactivate" data-placement="top" data-toggle="tooltip" class="icons change-status"><i class="fa fa-unlock"></i></a> 
		 	 <%}else{%>
			 <a title="Activate" data-placement="top" data-toggle="tooltip" class="icons change-status"><i class="fa fa-lock"></i></a>
			 <%}%> 
			</div>
	</div>
</td>
