
<td style="background: none repeat scroll 0% 0% rgb(255, 255, 255)">

	<h4 style="color: #229AD0"><%=this.model.get('name')%></h4>
	<p>
		<strong> <% if(this.model.get('city') != "null"){%>
				<%=this.model.get('city') %>    
				<%=  this.model.get('zip') %>
			<%}%>
			</strong> <%=this.getStatus()%>
	</p>
	<div class="pull-right" style="vertical-align: top">
		<a class="btn btn-danger delete-branch btn-sm" style="color: #fff"
			data-id="<%=this.model.get('id')%>">
			<%=this.setting.language['delete']%></a>
		<button class="btn btn-info edit-token btn-sm"><%=this.setting.language['edit']%></button>
		<button class="btn btn-success change-status btn-s1m">
			<%if(this.model.get('isactivated') == "1"){%> Deactivate <%}else{%>
			Activate <%}%></button>
	</div>
</td>
