<nav class="navbar-side" role="navigation">
            <div class="navbar-collapse sidebar-collapse collapse">
                <ul id="side" class="nav navbar-nav side-nav role-menu">
                    <!-- begin SIDE NAV USER PANEL -->
                    <%=this.getMenu() %>
                   
                          
                    
                      
                   
                    <!-- end PAGES DROPDOWN -->
                </ul>
                <!-- /.side-nav -->
            </div>
            <!-- /.navbar-collapse -->
        </nav>