<div class="row">
	<div class="col-lg-12">
		<div class="portlet portlet-orange">
			<div class="portlet-heading">
				<div class="portlet-title">
					<h4>Welcome</h4>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="portlet-body">
				<h3>Profile Setting</h3>
				<div class="row">
					<div class="col-md-6">
						<div class="portlet portlet-blue">
							<div class="portlet-heading">
								<div class="portlet-title">
									<h4>Change Password</h4>
								</div>
								<div class="portlet-widgets"></div>
								<div class="clearfix"></div>
							</div>
							<div id="horizontalFormExample"
								class="panel-collapse collapse in">
								<div class="portlet-body">
									<form class="form-horizontal" role="form">
										<div class="form-group">
											<label for="inputEmail3" class="col-sm-2 control-label">New Password</label>
											<div class="col-sm-10">
												<input type="password" class="form-control" id="txtpassword1"
													placeholder="Password">
													        <span class="help-block hide password1-error hide"><i class="fa fa-warning"></i>  Please enter password</span>
                                 			</div>
										</div>
										<div class="form-group">
											<label for="inputPassword3" class="col-sm-2 control-label">Confirm
												New Password</label>
											<div class="col-sm-10">
												<input type="password" class="form-control" id="txtpassword2"
													placeholder="Confirm Password">
													  <span class="help-block hide password2-error hide"><i class="fa fa-warning"></i>  Please enter confirm password</span>
													   <span class="help-block hide password-confirm hide"><i class="fa fa-warning"></i> Password and confirm password not same.</span>
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-offset-2 col-sm-10">
												<button type="button" class="btn btn-default btn-change">Change</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						 
					 
				</div>
			</div>
		</div>
		<!-- /.col-lg-12 -->
	</div>